html{
    
    margin:5px;
    border: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;    

}
body{
/* text color for whole page  */
    color: #25316D;

/* page background */
    background-color: #EAE3D2;

     padding-top: 10px;


}
/* background - rgb(13,1,29)
icons - rgb(10,211,239) */
header{
    /* display: flex; */
   
    font-size: 1.75rem;
    border-bottom:  rgb(255, 255, 255) 1px solid;
    max-height: 20vh;
    font-weight:1000;
   
    
}
#title{

    font-size: 3rem;

}

#subtitle{
    color:#607EAA
}



form{
    padding:30px;
    font-size: 1rem;
    font-weight:bolder;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
   
    min-height: 70vh; 
    row-gap: 2em;
    column-gap: 0.75em;
    /* color: white; */
}

#psps{
    display: flex;
    flex-direction: row;
}

#password{
    display:flex;
    justify-content:center;
    min-width: 500px;
    /* padding: 10px; */
    border-bottom:   rgb(255, 255, 255) solid 3px;
    word-break: break-all;
    /* color:rgb(238, 131, 241); */
    /* color:rgb(215,253,154); */

}
#columns{
    display: flex;
    column-gap: 4em;
}



#generate , #copy{
    min-width: 300px;
    min-height: 3rem;
    border: #231955 solid 1px;
    box-shadow: 2opx white solid;
    background:#607EAA;
    font-family: 'Space Grotesk', sans-serif;   
    font-size: 17px;


    /* color: rgb(245, 152, 248); */
    /* font-family: 'Syncopate', sans-serif; */

    /* border-radius:1rem; */


}


#generate:hover,#copy:hover{
    background-color:#F4BFBF;
    cursor: pointer;
    color:#231955;
    
}

.slider{
    -webkit-appearance: none;
    appearance: none;
    height:4px;  
      background-color:#607eaa;

    outline: none;
    /* opacity: 0.7; */
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background:#25316D;
    cursor: pointer;
  }
  
#info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}
#info div{
    height:50vh;
    width: 50%;
}
  .checkbox{
    /* appearance: none; */
    cursor: pointer;
    height: 20px;
    width: 20px;
    /* color:rgb(245, 152, 248); */
    /* background-color: white; */
    
}



#lengthNumber{
    background-color: #607EAA;
    border:none;
    color: #25316D ;
    

    font-weight: 200;
    font-size: 20px;
    padding: 1rem;
}

#lengthDisplay{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    column-gap: 2em;
    align-items: center;
}

footer{

    font-size: 1rem;
    /* max-width: 500px; */
    font-weight: bolder;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    padding-top: 55px;
    /* padding-right: 100px; */
    color: black;
    
}

footer>div{
    max-width: 600px;
    
}
.question{
    font-weight:bolder ;
    font-size: 2rem;
    color: #607EAA ;
}

section{
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
   

}


.questionTitle{
    font-size: 3rem;
    margin: 2rem 0rem;
  
}

.faq{
    max-width: 900px;
    margin-top: 2rem;
    padding-bottom: 1rem ;
    border-bottom: 2px solid  #607EAA;
    cursor: pointer;
}
.question2{
    font-weight:bolder ;
    font-size: 2rem;
    color: #607EAA ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.question2 h3{
    font-size: 1.3rem;
}
.answer{
 max-height:0;
 overflow:hidden;
 transition: max-height 1.4s ease;
}
.answer p{
    padding-top:1rem;
    line-height: 1.60;
    font-size: 1rem;
}


.faq.active .answer{
    max-height:300px;
}